{% extends "base.html" %}
{% block title %}Acerca de{% endblock %}

{% block content %}
<h1>Acerca de</h1>


<h2>Quienes somos </h2>
<p>Somos una empresa lider en la venta de productos Agrícolas con más de 10 años de experiencia </p>
<h2>Nuestra Misión</h2>
<p>Brindar productos agrícolas de alta calidad y un servicio excepcional a nuestros clientes.</p>
<h2>Nuestra Visión</h2>
<p>Ser reconocidos como líderes en el sector agrícola, innovando y mejorando continuamente nuestros
productos y servicios.</p>
<h2>Contacto</h2>
<p>Para más información, contáctanos a través de nuestro correo electrónico: contacto@empresa
.com</p>
<h2>Ubicación</h2>
<p>Nos encontramos en la Calle Falsa 123, Ciudad Agrícola.</p>
<h2>Redes Sociales</h2>
<p>Síguenos en nuestras redes sociales para estar al tanto de nuestras novedades:</p>
<ul>
  <li><a href="https://www.facebook.com/empresa" target="_blank">Facebook</a></li>
  <li><a href="https://www.twitter.com/empresa" target="_blank">Twitter</a></li>
  <li><a href="https://www.instagram.com/empresa" target="_blank">Instagram</a></li>

{% endblock %}

