{% extends 'base.html' %}
{% block title %}Registro{% endblock %}

{% block content %}
<section class="auth">
  <h2>Crear cuenta</h2>

 <form method="post" class="form auth-form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="form-row">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" required
           value="{{ nombre or request.form.nombre or '' }}" />
  </div>
  <div class="form-row">
    <label for="email">Correo electrónico</label>
    <input id="email" type="email" name="email" required
           value="{{ email or request.form.email or '' }}" />
  </div>
  <div class="form-row">
    <label for="password">Contraseña</label>
    <input id="password" type="password" name="password" required minlength="4" />
  </div>
  <div class="form-row">
    <label for="password2">Repetir contraseña</label>
    <input id="password2" type="password" name="password2" required minlength="4" />
  </div>
  <button type="submit" class="btn">Registrarme</button>
</form>

</section>
{% endblock %}
