{% extends "base.html" %}
{% block title %}Productos{% endblock %}

{% block content %}
<h1>Inventario</h1>

<form method="get" action="{{ url_for('listar_productos') }}" class="form-inline">
  <input type="text" name="q" placeholder="Buscar por nombre" value="{{ q or '' }}">
  <button type="submit" class="btn">Buscar</button>
  <a class="btn btn-primary" href="{{ url_for('crear_producto') }}" > + Nuevo</a>
</form>

{% if productos %}
<h1> Ver si ingresa</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th><th>Nombre</th><th>Cantidad</th><th>Precio</th><th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for p in productos %}
    <tr>
      <td>{{ p.id }}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.cantidad }}</td>
      <td>${{ '%.2f'|format(p.precio) }}</td>
      <td>
        <a class="btn btn-small" href="{{ url_for('editar_producto', pid=p.id) }}">Editar</a>
        <form method="post" action="{{ url_for('eliminar_producto', pid=p.id) }}" style="display:inline"
              onsubmit="return confirm('¿Eliminar {{ p.nombre }}?');">
          <button type="submit" class="btn btn-danger btn-small">Eliminar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No hay productos para mostrar.</p>
{% endif %}
{% endblock %}
